/* 5d3251-a44200-f4e7e1-245b7f-b5c5aa */
body{
    background-color: F4E7E1;
    text-align: center;
    font-family: sans-serif;
}
h1{
    color: #245B7F;
}
a{
    color: #A44200;
    text-decoration: none;
}
a:hover{
    color: #245B7F;
}
main{
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}
h2{
    text-align: center;
}
img{
    display: block;
    margin: 0 auto;
    height: 50%;
    width: 50%;
}
figure {
    margin: 20px 0;
}
figcaption{
    text-align: center;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border: 2px solid #b5c5aa;
}
th{
    background-color: #417da4
}
tr:nth-child(even) {
    background-color: #76acd0;
}
tr:nth-child(odd) {
    background-color: #b3dcf7;
}