/* 5d3251-a44200-f4e7e1-245b7f-b5c5aa */
body{
    background-color: #b5c5aa;
    text-align: center;
    font-family: sans-serif;
}
h1{
    color: #245B7F;
}
a{
    color: #A44200;
    text-decoration: none;
}
a:hover{
    color: #245B7F;
}
main{
    text-align: left;
    margin: 0 auto;
    max-width: 1200px;
    width: 85%;
}
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    main {
        width: 95%;
    }
    img {
        width: 100%;
        height: auto;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    img {
        width: 75%;
        height: auto;
    }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    main {
        width: 80%;
    }
    img {
        width: 60%;
        height: auto;
    }
}

h2{
    text-align: center;
}
img{
    display: block;
    margin: 0 auto;
    height: 50%;
    width: 50%;
}
figure {
    margin: 20px 0;
}
figcaption{
    text-align: center;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border: 2px solid #b5c5aa;
}
th{
    background-color: #417da4
}
tr:nth-child(even) {
    background-color: #76acd0;
}
tr:nth-child(odd) {
    background-color: #b3dcf7;
}
label {
    display: block;
    margin: 0.5rem 0;
}
.inline{
    display: inline;
}
.button{
    background-color: #245B7F;
    color: #f9f7f5;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 20px;
}
label{
    margin-bottom: 5px;
}
form{
    padding: 5px;
    color: #4f2944;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}