<nav>
    <a href="https://webpages.charlotte.edu/qmigliac/">UNCC Home</a>
    ||
    <a href="https://github.com/Quinnsadilla">Github</a>
    ||
    <a href="https://github.com/Quinnsadilla/Quinnsadilla.github.io">Github.io</a>
    ||
    <a href="https://www.freecodecamp.org/qmigliaccio">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/QuinnMigliaccio">Codecademy</a>
    ||
    <a href="https://www.linkedin.com/in/quinn-migliaccio/">LinkedIn</a>
</nav>
<p>Page built by <a href="migliaccio.co/index.html">migliaccio.co</a></p>
<p><em>Explore More</em></p>
<p><i>Certified in <a href="https://www.freecodecamp.org/certification/qmigliaccio/responsive-web-design">Responsive Web Design</a></i></p>