<nav>
    <a href="https://webpages.charlotte.edu/qmigliac/" target="new">UNCC Home</a>
    ||
    <a href="https://github.com/Quinnsadilla" target="new">Github</a>
    ||
    <a href="https://github.com/Quinnsadilla/Quinnsadilla.github.io" target="new">Github.io</a>
    ||
    <a href="https://www.freecodecamp.org/qmigliaccio" target="new">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/QuinnMigliaccio" target="new">Codecademy</a>
    ||
    <a href="https://www.linkedin.com/in/quinn-migliaccio/" target="new">LinkedIn</a>
</nav>
<p>Page built by <a href="migliaccio.co/index.html" target="new">migliaccio.co &copy; 2024</a></p>
<p><em>Explore More</em></p>
<p><i>Certified in <a href="https://www.freecodecamp.org/certification/qmigliaccio/responsive-web-design" target="new">Responsive Web Design</a>, <a href="https://www.freecodecamp.org/certification/qmigliaccio/javascript-algorithms-and-data-structures-v8" target="new">JS.</a></i></p>